.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  height: 100vh; /* Make the container take the full height of the viewport */
}

.left-column {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto; /* Add scroll if content overflows */
}

.right-column {
  width: 70%;
  padding: 20px;
  overflow-y: auto; /* Add scroll if content overflows */
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.patient-list {
  list-style-type: none;
  padding: 0;
}

.patient-list li {
  padding: 10px;
  cursor: pointer;
}

.patient-list li:hover {
  background-color: #ddd;
}

.welcome-image {
  max-width: 100%;
  height: auto;
}
